<%- include("../partials/head") %>
<%- include("../partials/header") %>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% skillsArray.forEach((skill) => { %>
        <li>
          <form action="/skills/<%= skill %>?_method=DELETE"
            class="delete-form" method="POST">
            <button type="submit">X</button>
          </form>
          <%= skill %>
        </li>
      <% }); %>
    </ul>
  </body>
</html>
